@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------------------------------- */
section {
  @apply flex flex-col rounded h-fit py-2 items-center;
  @apply px-2;
  @apply md:h-fit md:border-2 md:border-black/20 md:p-0 md:m-4 md:w-[400px];
}

.chunk {
  @apply flex flex-col text-left space-y-[10px] my-4;
  @apply text-left;
  /* @apply w-[100px]; */
}

/* --------------------------------------------------- */
.terminal {
  @apply flex flex-col text-left bg-black/90 text-lime-500/90 rounded-[3px];
  @apply text-xs p-3 w-[350px]; 
  @apply md:text-sm md:p-4;
  /* @apply w-fit; */

  font-family: 'Courier New', Courier, monospace;  
  font-weight: bold;

}

.file {
  @apply flex;
  @apply flex-col;
}

.code {
  @apply flex flex-col text-left rounded-tl-none bg-black/90 text-sky-200 space-y-1 rounded-[3px];
  @apply p-3 w-[350px]; 
  @apply md:p-4;


  font-family: monospace;  
  /* font-weight: bold; */
  font-size: medium;
}

.form {
  @apply flex flex-col items-end border-2 border-black/50 p-4 rounded-sm w-fit;
}

/* --------------------------------------------------- */
.filename {
  @apply text-sky-100;
  @apply bg-black/60;
  @apply px-2;
  @apply py-1;
  @apply w-fit;
  @apply rounded-t;
  @apply text-left;
}

.title {
  @apply text-2xl my-2 w-full;
  /* @apply -mb-4; */
}

.instruction {
  @apply indent-2 text-sm;
}

/* ------------------------------------------------------ */
a {
  color: purple;
  font-weight: bold;
  font-size: larger;
}

a:hover {
  color: rgb(170, 98, 170);
  font-style: italic;
}

input {
  border: 2px black solid;
  border-radius: 4px;
  margin: 10px;
}

button {
  background-color: rgb(93, 136, 130);
  @apply px-2 py-1 rounded text-white w-fit;
  margin: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
/* word-wrap:break-word; */
}
/* ------------------------------------------------------ */
